tcconfig-schema/src/main/xsd/terracotta.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright Terracotta, Inc.
    Copyright IBM Corp. 2024, 2025

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tc="http://www.terracotta.org/config"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
    targetNamespace="http://www.terracotta.org/config"
    elementFormDefault="qualified"
    version="${project.version}">

  <xs:element name="tc-config">
    <xs:complexType>
      <xs:all>
        <xs:element name="plugins" type="tc:services" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              This section defines the list of plugins which are provided to the server by the platform.
              Each plugin provider defines their own schema and parsing responsiblity is left up to the plugin provider.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        
        <xs:element name="tc-properties" type="tc:tc-properties" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              This section defines the tc-properties
              which the user wants to set
              The order in which the properties would be overridden is the following
              tc-properties from the installation jar
              tc-properties from the tc-config
              tc-properties from local tc.properties file
              tc-properties set via system properties
              Note that the local tc.properties has higher
              preference than this section
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="failover-priority" type="tc:failover-priority" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              This section defines the failover priority of the cluster.
              If configured for consistency then the cluster will try to preserve
              consistency over availability when a failover is required.
              If configured for availability then the cluster will try to remain available
              even at the cost of consistency, risking split brain scenarios as well.
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="servers" type="tc:servers" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              This section defines the servers present
              in your Terracotta system. You can omit
              this section entirely, in which case it
              behaves as if there's a single server
              with all values set at their default.
              You can include exactly one server entry
              here (the common case), or, if you're
              going to run multiple servers for
              failover, you can include multiple
              servers here.

              If you include more than one server
              here, note that each server will need to
              know which configuration it should use
              as it starts up. If you name your
              servers according to the host that they
              run on (and no host contains more than
              one server), then they will find the
              hostname themselves and work
              automatically.

              If you name your servers in any other
              fashion (and, again, only if there is
              more than one 'server' element present
              here), then you will need to pass the
              command-line option "-n <![CDATA[ <name>]]>"
              to the start-tc-server script, passing
              it the name of a server configuration
              from this file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="services">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element name="config" type="tc:config"/>
        <xs:element name="service" type="tc:service"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="config">
    <xs:sequence>
      <xs:element ref="tc:config-content" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="config-content" abstract="true"/>

  <xs:complexType name="service">
    <xs:sequence>
      <xs:element ref="tc:service-content" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="service-content" abstract="true"/>

  <xs:complexType name="tc-properties">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="property" type="tc:property">
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="property">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="failover-priority">
    <xs:choice>
      <xs:element name="consistency" type="tc:consistency"/>
      <xs:element name="availability" type="xs:string" fixed=""/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="consistency">
    <xs:all>
      <xs:element name="voter" type="tc:voter" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="voter">
    <xs:attribute name="count" type="tc:non-negative-int" use="required"/>
  </xs:complexType>

  <xs:complexType name="server">
    <xs:annotation>
      <xs:documentation xmlns="http://www.w3.org/1999/xhtml">
        Data specific to one of your servers.
      </xs:documentation>
    </xs:annotation>

    <xs:all>
      <xs:element name="logs" type="tc:path" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            In which directory should the server store its
            log files? Again, this value undergoes parameter
            substitution before being used; thus, a value
            like 'server-logs-%h' would expand to
            'server-logs-artichoke' if running on host
            'artichoke'.

            If this is a relative path, then it is
            interpreted relative to the directory where the
            server configuration file is. It is thus
            recommended that you specify an absolute path
            here.

            Default: 'logs/hostname-port'

            This places the 'logs' directory in the
            directory were your server configuration is.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="tsa-port" type="tc:bind-port" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            On what port should the server listen for
            connections from clients? This can be any
            port you like, but note that ports below 1024
            typically require 'root' privileges to use on
            Unix-style systems (Linux, Solaris).

            Default:9410 - TCConfigDefaults.TSA_PORT
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tsa-group-port" type="tc:bind-port" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Port for server to server communication.
            This can be any port you like, but note that ports
            below 1024 typically require 'root' privileges to
            use on Unix-style systems (Linux, Solaris).

            Default: "tsa-port" + 20
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:all>

    <xs:attribute name="host" type="tc:host" use="optional">
      <xs:annotation>
        <xs:documentation>
          The host that the server runs on, expansion parameters
          may be used in this attribute.  Defaults to "%i" (the
          machine IP address).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="tc:non-blank-token"
                  use="optional">
      <xs:annotation>
        <xs:documentation>
          The symbolic name of the server, expansion parameters may
          be used.  Defaults to "host:tsa-port".
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bind" type="tc:non-blank-token" use="optional" default="0.0.0.0">
      <xs:annotation>
        <xs:documentation>
          The address this server should bind its network listeners to. By default network listeners
          will be available on all local addresses (ie. 0.0.0.0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="servers">
    <xs:sequence maxOccurs="1" minOccurs="0">
      <xs:element name="server" type="tc:server" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="client-reconnect-window" type="tc:non-negative-int" minOccurs="0" maxOccurs="1" default="120" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bind-port">
    <xs:simpleContent>
      <xs:extension base="tc:port">
        <xs:attribute name="bind" type="tc:non-blank-token" use="optional">
          <xs:annotation>
            <xs:documentation>
              The address this server should bind its network listeners to. By default network listeners
              will be available on all local addresses (ie. 0.0.0.0)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="non-blank-token">
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="path">
    <xs:annotation>
      <xs:documentation>
        Several different predefined substitutions are available
        for your use:

        %h expands to the fully-qualified host name of the
        machine running your application

        %i expands to the IP adress of the machine running
        your application

        %H refers to the home directory of the user running
        running your application

        %n refers to the username of the user running
        running your application

        %o refers to the name of the operating system
        running your application

        %a refers to the processor architecture of the
        machine running running your application %v refers
        to the version of the operating system running
        running your application

        %t refers to the temporary directory of the machine
        running your application(on Linux or Solaris, e.g.,
        /tmp)

        %(property) refers to the java system property of
        the JVM running on the machine(e.g. %(java.home) )
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="fixed-string-unlimited">
    <xs:restriction base="xs:token">
      <xs:enumeration value="unlimited" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fixed-string-none">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="positive-int">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="2147483647" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="non-negative-int">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="2147483647" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="positive-int-or-none">
    <xs:union memberTypes="tc:positive-int tc:fixed-string-none" />
  </xs:simpleType>

  <xs:simpleType name="port">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="65535" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="host">
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="collapse" />
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
